version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dawgtickets
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 20

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"

  server:
    build: ./server
    environment:
      PORT: 3000
      JWT_SECRET: devsecret
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/dawgtickets?schema=public
      MONGO_URI: mongodb://mongo:27017/dawgtickets
      ADMIN_EMAILS: admin@example.com
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_started
