body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.the-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.the-container h2 {
    margin-bottom: 20px;
}

.the-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.the-btn {
    background-color: #BA0C2F;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.the-btn:hover {
    background-color: #BA0C2F;
}

.the-account-link {
    margin-top: 15px;
    color: #3498db;
}

.the-account-link:hover {
    text-decoration: underline;
}

.content-table {
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr {
    background-color: #ebebeb;
    color: #000000;
    text-allign: center;
    font-weight: bold;
}

.content-table th, 
.content-table td {
    padding: 12px 15px;
}

content=-table tbody tr {
    border-bottom: 1 px solid: #dddddd;
}

content-table tbody tr:last-of-type {
    border-bottom: 2px solid: #e4e4e4;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: # 009879;
}



