body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.the-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.the-container h2 {
    margin-bottom: 20px;
}

.the-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.the-btn {
    background-color: #BA0C2F;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.the-btn:hover {
    background-color: #BA0C2F;
}

.the-account-link {
    margin-top: 15px;
    color: #3498db;
}

.the-account-link:hover {
    text-decoration: underline;
}
