*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #222;
    padding: 0;
}


/* NAVBAR */

.nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #BA0C2F;
    color: white;
    border-bottom: 4px solid #000;
}

.nav .inner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 13px 20px;
}

.name {
    display: flex;
    align-items:center;
    gap: 10px;
    font-weight: 800;
    letter-spacing: 0.2px;
}

.logo {
    width: 26px;
    height: 26px;
    border-radius: 6px;
    object-fit: cover;
}

.links {
    display: flex;
    gap: 16px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 7px;
    border-radius: 7px;
}

.links a:hover,
.links a[aria-current="page"] {
    background: rgba(250,250,250,.12)
}

.nav-spacer{
    flex: 1;
}

.search input {
    padding: 7px 11px;
    border-radius: 7px;
    border: none;
    outline: none;
    background: white;
    color: #000;
}

.search input::placeholder {
    color: #666;
}

.trade {
    background: #000;
    color: white;
    border: none;
    padding: 9px 13px;
    border-radius:  9px;
    font-weight: 700;
    cursor: pointer;
}

.trade:hover{ 
    filter: brightness(1.1);
}

/* Home */

.container{
    max-width: 1110px;
    margin: 23px auto;
    padding: 0 19px 39px;
}

.title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 23px 0 13px;
}

.title h2{
    margin: 0;
    font-size: 1.5rem;
    border-left: 6px solid #BA0C2F;
    padding-left: 9px;
    line-height: 1;
}

#Event {
    color: #333;
    font-size: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 15px;
}

.grid .card {
    border: 1px solid #ddd;
    border-radius: 12px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

/*Index and Create page */


body.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  margin: 0;
}


.the-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.the-container h2 {
    margin-bottom: 20px;
}

.the-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.the-btn {
    background-color: #BA0C2F;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.the-btn:hover {
    background-color: #BA0C2F;
}

.the-account-link {
    display: inline-block;
    margin-top: 15px;
    color: #3498db;
    text-decoration: none;
}

.the-account-link:hover {
    text-decoration: underline;
}

